body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.navbar {
    height: 90px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(2, 179, 137);
}

.navbar h1 {
    padding-left: 10px;
    margin-right: 10px;
    color: #fff;
}



.country img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #35e8be;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.search {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 20px; 
    margin: 20px 0; 
    text-align: center; 
}

.search img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px; 
}

.search button {
    margin-top: 10px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #35e8be; 
    color: white; 
    cursor: pointer; 
    outline: none; 
}

.search button:hover {
    background-color: #35e8be; 
}


#search-input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px 0 0 4px; 
    width: 240px; 
    font-size: 16px; 
}

#search-btn {
    padding: 10px 20px;
    background-color: #35e8be; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px;
    margin: 10px;
    outline: none;
    border: none;
}

footer {
    background-color: #007c5f; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

footer h1 {
    font-size: 18px; 
    margin: 0; 
    font-weight: normal; 
}
